DATABASE_URL="postgresql://USER:PASSWORD@HOST/DATABASE?sslmode=require&channel_binding=require"
JWT_SECRET="your-jwt-secret-at-least-32-chars"
JWT_EXPIRES_IN="8h"
NEXT_PUBLIC_APP_NAME="南山公證案件管理系統"
NODE_ENV="development"
